*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body
{
    width: 100%;
    height: 100vh;
    height: 100svh;
    background: #ffffff;
}

marquee
{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    height: 100vh;
    height: 100svh;
}

img
{
    width: 150px;
}


/*
.coming-soon {
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    width: 200px;
    height: 150px;
    border: 2px dashed #c51e1e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  */