
html{
    scroll-behavior: smooth;
    /*width: 100vw;
    height: 100vw;*/
  }
  
  /*matrix(scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY())*/
  
  
  body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    }



  
  /* TEXT */
  
  h2 {
    display: flex;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  h3 {
    scroll-snap-align: start;
    letter-spacing: -2px;
    padding: 10px;
    padding-bottom: 4vh;
    display: block;
    font-size: 2.5rem;
    border-bottom: 3px dotted dodgerblue;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  /* GENERAL IMAGE GALLERY for wide screen*/
  #description {
    margin: 0.5rem;
    padding-bottom: 4vh;
    text-align: left;
    border-bottom: 3px dotted yellow;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .image-grid-gallery {
    position: absolute;
    z-index: -1;
    transition: 1s ease-in-out;
    margin-top: 0;
    height: 97vh;
    scroll-snap-type: inline mandatory;
    display: flex; 
    /*width: 85vw;*/
    flex-wrap: nowrap;
    overflow-x: scroll;
    /*overflow-y: scroll;*/
  }

  
  .image-grid-gallery .Vcontainer {
    scroll-snap-type: inline mandatory;
    overflow: hidden;
    flex-wrap: wrap;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }
  
  .SerieHeadingContainer {
    height: 100svh;
    height: 100vh;
  }

  .Vcontainer::-webkit-scrollbar{
    display: none;
  }

  .Vcontainer {
    max-width: 20vw;
    overflow: hidden;
    transition: all 1s ease;
  }

  /*
  .Vcontainer #imageOnlyContainer img {
    object-fit: contain;
  }*/

  /*
  expand row on click (script_vertical_gallery.js)
  */

  /*
  .Vcontainer.expand {
    --openContainerW: 100vw;
    max-width: var(--openContainerW);
  }*/
  
  .imageTextContainer {
    /*margin-top: 10vh;*/
    padding-left: 10px;
    padding-right: 10px;
    height: 100svh;
    height: 100vh;
    width: 100%;
    /*align-items: center;*/
  }
  
  #imageOnlyContainer {
    scroll-snap-align: center;
  }

  .imageOnly {
    width: 100%;
  }
  
  .imageOnly.changeWidth {
    max-height: 80vh;
    object-fit: contain;
  }
  
  #textOnlyContainer p { margin: 0.5rem; }

  /* GENERAL IMAGE GALLERY for phone screen*/
    @media screen and (max-width: 600px) {
      /*
      .navigation {
        scroll-snap-type: inline mandatory;
        min-width: 100vw;
        min-width: 100svw;
        scroll-snap-align: start;
      }
      */
  
      .SerieHeadingContainer{ width: 100vw; }
      
      h3 { font-size: 4rem; }
      
      .image-grid-gallery {
        overflow: hidden;
        overflow-x: auto;
      }
  
      .image-grid-gallery .Vcontainer {
        min-width: 100vw;      
      }
      
      .Vcontainer {
        scroll-snap-type: y mandatory;
        scroll-snap-align: start;
        flex-wrap: wrap;
        height: 100vh;
        width: 100%;
      }
  
      .imageTextContainer{
        display: flex;
        align-items: normal;
      }    
  
      #imageOnlyContainer{
        padding-left: 5vw;
        padding-top: 5vh;
        padding-bottom: 0vh;
        width: 50vw;
        text-align: none;
      }
  
      #textOnlyContainer{
        padding-top: 5vh;
        padding-left: 5vw;
        padding-right: 5vw;
      }
      
      .imageOnly{
        float: left;
      }
    }
  

/* TEXT: biography, exhibition, CV */

.categorie-title { padding-bottom: 2rem; }

.categories-table { padding: 10px; }

.categorie { padding-bottom: 10vh; }

.table_element { padding-bottom: 5vh; }

.table_element, .onlycontext { height: 40vh; }

.discipline_text{ display: block; }

.table-element, .text_ele {
  width: 40vw;
  text-align: left;
  font-size: 1rem;
}
  
#poster {
  float: right;
  height: 20vw;
}